.nav {
    border: 3px solid var(--border-color);
    border-radius: 15px;
    width: 126px;
    height: 491px;
    background: var(--containerbg);

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 32px 28px;
}

.link {
    border-radius: 6px;
    width: 71px;
    height: 66px;
    background-color: var(--bgcolor);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.active {
    background: var(--nav-link-bg);
    color: var(--containerbg);
}