.pagination {
    display: flex;
    gap: 8px;
    align-items: center;
}

.pagination_btn {
    background-color: transparent;
    border: none;

    color: var(--logo-color);
}

.pagination_count {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: var(--logo-color);
}