.work {
    border: 3px solid var(--submit-btn);
    background-color: var(--containerbg);
    border-radius: 9px;

    padding: 16px;
    margin-top: 20px;

    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 124px auto;
        grid-template-areas:
            'logo company'
            'logo role'
            'logo duration'
            'desc desc';
        gap: 20px;
    }

    
}

.work_logo {
    width: 88px;
    margin: 0 auto 16px auto;

    grid-area: logo;
    border: 2px solid var(--submit-btn);
    border-radius: 8px;

    align-self: center;

    background-color: var(--contactsbg);

    @media only screen and (min-width: 768px) {
        margin: 0;
    }
}

.work_company {
    grid-area: company;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;

    text-align: center;
    margin-bottom: 10px;

    color: var(--service-title-color);

    @media only screen and (min-width: 768px) {
        font-size: 18px;
        text-align: start;
        margin-bottom: 0;
    }
}

.work_company>span {
    display: none;

    @media only screen and (min-width: 768px) {
        display: inline;
    }
}

.work_role {
    grid-area: role;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--service-title-color);

    @media only screen and (min-width: 768px) {
        font-style: 18px;
    }
}

.work_duration {
    grid-area: duration;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--service-title-color);

    margin-bottom: 10px;

    @media only screen and (min-width: 768px) {
        font-size: 18px;
        margin-bottom: 0;
    }
}

span {
    font-weight: 700;
}

.work_desc {
    grid-area: desc;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--service-desc-color);

    display: flex;
    flex-direction: column;
    gap: 8px;

    @media only screen and (min-width: 768px) {
        font-size: 18px;
    }
}

.work_desc_list {
    margin-left: 36px;
    list-style-type: disc;
}