.work {
    border: 3px solid var(--submit-btn);
    border-radius: 9px;
    padding: 16px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: var(--containerbg);

    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 124px auto;
        grid-template-areas:
            'logo company'
            'logo role'
            'logo duration'
            'desc desc';
        gap: 20px;
    }
}

.work_logo {
    grid-area: logo;
    border: 2px solid var(--submit-btn);
    border-radius: 8px;

    align-self: center;

    background-color: var(--contactsbg);

    @media only screen and (max-width: 767px) {
        width: 100px;
        height: 100%;
        margin-bottom: 16px;
    }
}

.work_company {
    grid-area: company;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--service-title-color);

    @media screen and (max-width: 767px) {
        font-size: 16px;
        font-weight: 400;
    }
}

.work_role {
    grid-area: role;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--service-title-color);

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

.work_duration {
    grid-area: duration;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: var(--service-title-color);

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

span {
    font-weight: 700;
}

.work_desc {
    grid-area: desc;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--service-desc-color);

    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

.work_desc_list {
    margin-left: 24px;
    list-style-type: disc;

    @media screen and (min-width: 768px) {
        margin-left: 36px;
    }
}