.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 38px;
    color: var(--logo-color);
}

.layout {
    display: flex;
    gap: 52px;

    margin-top: 40px;
}