.form {
    margin-top: 24px;
    width: 100%;
    /* max-width: 824px; */

    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) {
        margin-top: 44px;
        gap: 30px;
    }
}

.form_label {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--service-title-color);

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
}

.form_field {
    border: 2px solid var(--form-border-color);
    border-radius: 7px;
    padding-left: 8px;
    font-size: 16px;
    height: 2.5em;
    width: 100%;
    background-color: inherit;

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
}

.form_field[name="message"] {
    font-size: 16px;
    height: 7em;
    padding: 8px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
}

.submitBtn {
    border: 2px solid var(--submit-btn);
    border-radius: 8px;
    padding: 10px 40px;

    background-color: var(--submit-btn);

    font-family: var(--third-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--containerbg);

    align-self: end;

    @media screen and (min-width: 768px) {
        font-size: 21px;
        padding: 10px 62px;
    }
}

.form_error {
    color: red;
    font-size: 14px;
}