.overlay {
    position: fixed;
    inset: 0;
    background: var(--bgcolor);
    z-index: 99;
    display: flex;
    justify-content: center;
    top: 90px;
    padding-top: 40px;

    @media screen and (min-width:768px) {
        top: 100px;
    }
}

.burgerBtn {
    background: transparent;
    border: none;
    z-index: 1000;
    font-size: 1.8rem;
    cursor: pointer; 
    color: var(--logo-color);
}

