* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bgcolor);
  padding: 36px 24px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    padding: 36px 40px;
  }

  @media only screen and (min-width: 1240px) {
    padding: 36px 108px;
  }
}

main {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);

  @media only screen and (min-width: 768px) {
    font-size: 28px;
  }
}

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Merriweather Sans", sans-serif;
  --font3: "Sigmar One", sans-serif;
}

[data-theme='light'] {
  --bgcolor: #FEF6DD;
  --containerbg: #FFFFFF;
  --border-color: #B7A261;
  --buttonbg: #E0CE93;
  --nav-link-bg: #B7A261;
  --contactsbg: #f9f6ea;
  --contacts-icon-bg:#d9d9d9; 
  --logo-color: #9D8640;
  --text-color: #000;
  --button-text-color: #403D22;
  --service-item-bg: #fdf4f4; 
  --service-title-color: #000;
  --service-desc-color: #685d5d;
  --form-border-color: #9d8640;
  --submit-btn: #b7a261;
  --skills-shadow: #f8df91;
  --project-card-bg: #f9f6ea;
}

[data-theme='dark'] {
  --bgcolor: #131312;
  --containerbg: #000000;
  --border-color: #382f12;
  --buttonbg: #C2B293;
  --nav-link-bg: #B7A261;
  --contactsbg: #3B3729;
  --contacts-icon-bg: #000;
  --logo-color: #7F6F3E;
  --text-color: #CCC0C0;
  --button-text-color: #3B3729;
  --service-item-bg: #60594b;
  --service-title-color: #fff;
  --service-desc-color: #d1d1cd;
  --form-border-color: #9d8640;
  --submit-btn: #4b3d10;
  --skills-shadow: #efe0b2;
  --project-card-bg: #403d32;
}

.container {
  border: 3px solid var(--border-color);
  border-radius: 14px;

  padding: 30px 16px;

  background-color: var(--containerbg);
  width: 100%;
  
  /* max-width: 913px; */

  @media only screen and (min-width: 768px) {
    padding: 30px 44px;
  }
}